body {
  margin: 0;
  background-color: #333;
}

.main__game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__genius {
  display: grid;
  grid-template-areas: 
    'green red'
    'yellow blue';
  gap: 10px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.genius__blue {
  grid-area: blue;
  background-color: blue;
  border-bottom-right-radius: 100%; 
}

.genius__red {
  grid-area: red;
  background-color: red;
  border-top-right-radius: 100%;
}

.genius__yellow {
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.genius__green {
  grid-area: green;
  background-color: green;
  border-top-left-radius: 100%;
}

.genius__selected {
  opacity: 0.4;
}