body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #333;
}

.main__game {
  padding: 1rem;

  background: #34495e;
  border-radius: .5rem;
}

.game__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;

  background: #ecf0f1;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.game__score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .3rem;
  transition: 1s;
  margin-bottom: 1rem;

  background: #2c3e50;
  color: #e74c3c;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.score__text {
  font: 400 2.4rem VT323;
}

.score__points {
  font: 400 3rem VT323;
}

.game__status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.status {
  width: .7rem;
  height: .7rem;
  transition: .2s;

  background: #333;
  border-radius: 50%;
}

.status__text {
  color: #ecf0f1;
  font: 400 1rem Archivo;
}

.status--start {
}

.status--wait {
}

.status--player {
}

.status__light--start {
  background: #2ecc71;
  box-shadow: 0 0 .2rem .2rem #27ae60;
}

.status__light--wait {
  background: #e74c3c;
  box-shadow: 0 0 .2rem .2rem #c0392b;
}

.status__light--player {
  background: #3498db;
  box-shadow: 0 0 .2rem .2rem #2980b9;
}

.game__genius {
  display: grid;
  grid-template-areas: 
    'green red'
    'yellow blue';
  gap: .5rem;
  background-color: #2c3e50;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.genius__block {
  transition: .2s;
  cursor: grab;
  opacity: 0.6;
}

.genius__block:hover {
  opacity: 1;
}

.genius--blue {
  grid-area: blue;
  background-color: #3498db;
  border-bottom-right-radius: 100%; 
}

.genius--red {
  grid-area: red;
  background-color: #e74c3c;
  border-top-right-radius: 100%;
}

.genius--yellow {
  grid-area: yellow;
  background-color: #f1c40f;
  border-bottom-left-radius: 100%;
}

.genius--green {
  grid-area: green;
  background-color: #2ecc71;
  border-top-left-radius: 100%;
}

.genius__show {
  opacity: 1;
  transform: scale(1.05);
}

.game__buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.button__start {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  transition: .2s;
  z-index: 1;
  
  background: #27ae60;
  font: 400 1.6rem Archivo;
  color: aliceblue;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  outline: none;
  text-decoration: none;
}

.button__start:hover {
  background: #2ecc71;
}

.button__sound {
  width: 20%;
  appearance: none;
  padding: .5rem;
  margin: 0 0 0 1rem;

  
  background: #2980b9 url(./images/soundOn.svg) no-repeat center;
  background-size: 2rem 2rem;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
}

.button__sound:checked {
  background: #c0392b url(./images/soundOff.svg) no-repeat center;
  background-size: 1.5rem 1.5rem;
}

.game__footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .2rem;

  background: #2c3e50;
  border-radius: .5rem;
}

.game__footer a {
  text-decoration: none;
  color: #ecf0f1;
  font: 400 .7rem Archivo;
}

.game__footer img {
  width: 1.5rem;
  height: 1.rem;
}